*,
*::after,
*::before{
  box-sizing: border-box;
}
:root{
  --fontTitle: 'Cormorant Infant', serif;
  --green: #48974c;
  --colorTitle: #262626;
  --colorText: #737373;
}
ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
p, h1{
  margin: 0;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 18px;
}
body{
  font-size: 16px;
  line-height: 26px;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
}

/* header */
.header__inner {
  padding-top: 35px;
}
.header__title {
  text-align: center;
  font-family: var(--fontTitle);
  font-weight: 700;
  color: var(--colorTitle);
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}
.header__desc {
  text-align: center;
  font-family: var(--fontTitle);
  font-weight: 300;
  color: var(--colorFont);
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}
.menu {
  margin-top: 50px;
  border-top: 1px solid #e6e6e6;
}
.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-list__item {
  padding: 25px 0;
}
.menu-list__item + .menu-list__item{
  margin-left: 10px;
}
.menu-list__link {
  text-transform: uppercase;
  color: var(--colortitle);
}
.menu-list__link:hover{
  color: var(--green);
}
/* header */

/* slider */
.slider {
}
.slider__list {
  
}
.slider__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.slider__inner {
  padding: 80px 0 144px;
  max-width: 552px;
}
.slider__content{
  padding: 40px;
  background-color: #fff;
  color: #404040;
}
.slider__title {
  font-size: 60px;
  line-height: 66px;
  font-family: var(--fontTitle);
  font-weight: 700;
}
.slider__text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
.slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 149px;
}
.slider .slick-dots li {
  margin: 0 9px;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.slider .slick-dots li.slick-active button {
  background-color: #fff;
}
/* slider */

/* content */
.content {
  background-color: #eeeeee;
}
.content__inner {
  padding: 30px 0 70px;
  display: flex;
  justify-content: space-between;
}
.main-content {
  margin-right: 30px;
}
.main-content__inner {
}
.main-content__list {
  display: flex;
  flex-direction: column;
}
.main-content__item {
  max-width: 552px;
  width: 100%;
  background-color: #fff;
  padding: 25px 25px 102px;
  margin-bottom: 30px;
  color: #a6a6a6;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
  position: relative;
}
.main-content__image {
  margin-bottom: 10px;
}
.content__image {
  height: 100%;
  width: 100%;
}
.main-content__data {
  text-transform: uppercase;
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.main-content__data::before{
  content: "";
  background-image: url('/images/calendar.png');
  width: 15px;
  height: 16px;
  position: absolute;
  left: 0;
}
.title-content {
  font-family: var(--fontTitle);
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: var(--colorTitle);
  font-style: italic;
  margin-bottom: 2px;
}
.text {
  color: #737373;
}
.main-content__bottom {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  display: flex;
  justify-content: space-between;
  
}
.btn{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--green);
  text-transform: uppercase;
  border: 1px solid var(--green);
  width: 157px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 172px;
  
}
.main-content__button {
}
.btn--arrow {
  margin-left: 25px;
  padding-right: 16px;
  position: relative;
}
.btn--arrow::after{
  content: "";
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 8px;
  position: absolute;
  right: 40px;
  top: 22px;
  
}
.btn--green {
  color: #fff;
  background-color: var(--green);
}
/* aside */
.aside {
}
.aside__inner {
}
.aside__list {
  max-width: 552px;
  display: flex;
  flex-wrap: wrap;
}
.aside__item {
  display: flex;
  flex-direction: column;
  width: 275px;
  padding: 25px;
  background-color: #fff;
  margin-right: 1px;
  margin-bottom: 1px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
  position: relative;
}
.title-content--aside {
  margin-top: 14px;
  font-size: 24px;
  line-height: 30px;
}
.aside__bottom{
  margin-top: auto;
}
.aside__link {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  position: relative;
  
}
.aside__link::before{
  content: "";
  background-image: url("/images/details.png");
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0;
}
.aside__pages {
  margin-top: 25px;
}
/* aside */
/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 394px;
}
.pagination__item {
  

}
.pagination__left {
}
.pagination__link {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
  width: 56px;
  height: 56px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorTitle);
}
.pagination__link--active {
  color: #fff;
  background-color: var(--green);
}
.pagination__link--dots {
}
.pagination__right {
}
/* pagination */
/* content */


