/* responsive */
@media(max-width: 1125px){
  
  .content__inner {
    flex-direction: column;
  }
  .main-content {
  }
  .main-content__inner {
  }
  .main-content__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-content__item {
    max-width: 500px; 
  }
  .main-content__item + .main-content__item{
    margin-left: 10px;
  }
  .main-content__image {
  }
  .content__image {
  }
  .main-content__data {
  }
  .title-content {
  }
  .text {
  }
  .main-content__bottom {
  }
  .btn {
  }
  .social-networks {
  }
  .social-networks__item {
  }
  .social-networks__link {
  }
  .social-networks__image {
  }
  .main-content__button {
  }
  .btn--arrow {
  }
  .btn--green {
  }
  .aside {
    margin-top: 20px;
  }
  .aside__inner {
  }
  .aside__list {
  
  }
  .aside__item {
    min-width: 262px;
  }
  .title-content--aside {
  }
  .aside__bottom {
  }
  .aside__link {
  }
  .aside__pages {
  }
  .pagination {
  }
  .pagination__item {
  }
  .pagination__left {
  }
  .pagination__link {
  }
  .pagination__link--active {
  }
  .pagination__link--dots {
  }
  .pagination__right {
  }
}


@media(max-width: 900px){
  .header {
  }
  .container {
  }
  .header__inner {
  }
  .header__title {
  }
  .header__desc {
  }
  .menu {
  }
  .menu-list {
    flex-direction: column;
    text-align: center;
  }
  .menu-list__item {
    padding: 0;
    
  }
  .menu-list__link {
    display: block;
    border-bottom: 1px solid #e6e6e6;
  }

}

@media (max-width: 830px){
  .slider__inner {
    padding: 80px 0 144px;
    max-width: 400px;
  }
  .slider__content{
    padding: 30px;
  }
  .slider__title {
    font-size: 40px;
    line-height: 46px;
    font-family: var(--fontTitle);
    font-weight: 700;
  }
  .slider__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
}

@media (max-width: 390px){
  .slider .slick-dots {
    bottom: 60px;
    left: 60px;
  }
}

@media (min-width: 391px) and (max-width: 1125px){
  .slider .slick-dots {
    left: 60px;
  }
}